@(controller: de.htwg.se.Skip_Bo.controller.controllerComponent.ControllerInterface)

<!-- Short description of current game state -->
@statusText= @{ controller.statusText }

<!-- Playername of the current Player -->
@playerName = @{ controller.playerState.name }

<!-- current Player -->
@playerState = @{ controller.playerState }

<!-- Size of the current players hand -->
@handSize = @{ controller.game.player(controller.playerState.getPlayer).cards.size }

<!-- Handcards -->
@firstHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(0).toString }
@secondHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(1).toString }
@thirdHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(2).toString }
@fourthHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(3).toString }
@fifthHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(4).toString }

<!-- helpstacks -->
@firstHelpStackSize = @{ controller.game.player(controller.playerState.getPlayer).helpstack(0).size }
@secondHelpStackSize = @{ controller.game.player(controller.playerState.getPlayer).helpstack(1).size }
@thirdHelpStackSize = @{ controller.game.player(controller.playerState.getPlayer).helpstack(2).size }
@fourthHelpStackSize = @{ controller.game.player(controller.playerState.getPlayer).helpstack(3).size }

<!-- ablageStapel -->
@firstAblageStapel = @{ controller.game.stack(0).size.toString }
@secondAblageStapel = @{ controller.game.stack(1).size.toString }
@thirdAblageStapel = @{ controller.game.stack(2).size.toString }
@fourthAblageStapel = @{ controller.game.stack(3).size.toString }


@main("HTWG Skip Bo") {
<header class="header">
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/board.css")' />
</header>

<div id="Skip_Bo_Game">
    <gameBoard></gameBoard>
</div>
}
<script src="https://unpkg.com/vue@@next"></script>
<script src='@routes.Assets.versioned("javascripts/mainVUE.js")'></script>