@(controller: de.htwg.se.Skip_Bo.controller.controllerComponent.ControllerInterface)

<!-- Short description of current game state -->
@statusText= @{ controller.statusText }

<!-- Playername of the current Player -->
@playerName = @{ controller.playerState.name }

<!-- current Player -->
@playerState = @{ controller.playerState }

<!-- Size of the current players hand -->
@handSize = @{ controller.game.player(controller.playerState.getPlayer).cards.size }

<!-- Handcards -->
@firstHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(0).toString }
@secondHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(1).toString }
@thirdHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(2).toString }
@fourthHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(3).toString }
@fifthHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(4).toString }

<!-- helpstacks -->
@firstHelpStackSize = @{ controller.game.player(controller.playerState.getPlayer).helpstack(0).size }
@secondHelpStackSize = @{ controller.game.player(controller.playerState.getPlayer).helpstack(1).size }
@thirdHelpStackSize = @{ controller.game.player(controller.playerState.getPlayer).helpstack(2).size }
@fourthHelpStackSize = @{ controller.game.player(controller.playerState.getPlayer).helpstack(3).size }

<!-- ablageStapel -->
@firstAblageStapel = @{ controller.game.stack(0).size.toString }
@secondAblageStapel = @{ controller.game.stack(1).size.toString }
@thirdAblageStapel = @{ controller.game.stack(2).size.toString }
@fourthAblageStapel = @{ controller.game.stack(3).size.toString }


@main("HTWG Skip Bo") {
<header class="header">
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/board.css")' />

    <div class="player">
        <img class="playerIcon" id="playerIcon">
        <br>
        <label id="playerLabel"></label>
    </div>
</header>
<div class="gamecontainer">
    <div class="gameState">
        <div id="statusText">@statusText</div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="board col-6">
            <div class="row">
                <div class="boardgap col-2"></div>
                <div class="spielerStapel col-8" id="spielerStapel">
                </div>
                <div class="boardgap col-2"></div>
            </div>
            <br><br>
            <div class="row">
                <div class="boardgap col-2"></div>
                <div class="hand col-8">
                    @if(controller.game.player.isEmpty){
                    <p>Handkarten: | 0 | | 0 | | 0 | | 0 | | 0 |</p>
                    } else {
                    @if(handSize == 5){
                    <p>Handkarten: | @firstHandCard | | @secondHandCard | | @thirdHandCard | | @fourthHandCard | |
                        @fifthHandCard |</p>
                    } else if(handSize == 4){
                    <p>Handkarten: | @firstHandCard | | @secondHandCard | | @thirdHandCard | | @fourthHandCard |</p>
                    } else if(handSize == 3){
                    <p>Handkarten: | @firstHandCard | | @secondHandCard | | @thirdHandCard |</p>
                    } else if(handSize == 2){
                    <p>Handkarten: | @firstHandCard | | @secondHandCard |</p>
                    } else if(handSize == 1){
                    <p>Handkarten: | @firstHandCard |</p>
                    }
                    }
                </div>
                <div class="boardgap col-2"></div>
            </div>
            <br><br>
            <div class="row">
                <div class="boardgap col-2"></div>
                <div class="helpstacks col-8">
                    @if(controller.game.player.isEmpty){
                    <p>Hilfestapel: | leer | | leer | | leer | | leer |</p>
                    } else {
                    <p>Hilfestapel:</p>
                    @if(firstHelpStackSize == 0){
                    <p>| leer |</p>
                    } else {
                    <p>| @controller.game.player(controller.playerState.getPlayer).helpstack(0).head.toString |</p>
                    }
                    @if(secondHelpStackSize == 0){
                    <p>| leer |</p>
                    } else {
                    <p>| @controller.game.player(controller.playerState.getPlayer).helpstack(1).head.toString |</p>
                    }
                    @if(thirdHelpStackSize == 0){
                    <p>| leer |</p>
                    } else {
                    <p>| @controller.game.player(controller.playerState.getPlayer).helpstack(2).head.toString |</p>
                    }
                    @if(fourthHelpStackSize == 0){
                    <p>| leer |</p>
                    } else {
                    <p>| @controller.game.player(controller.playerState.getPlayer).helpstack(3).head.toString |</p>
                    }


                    }
                </div>
                <div class="boardgap col-2"></div>
            </div>
            <br><br>
            <div class="row">
                <div class="boardgap col-2"></div>
                <div class="ablageStapel col-8" id="AblageStapelID">

                </div>
                <div class="boardgap col-2"></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <h2>Aktionen:</h2>
    <div class="gameButtonsDiv">
        <div class="row" id="input-panel-group">
        </div>
    </div>
    <div class="gameTextInputs">
        <label for="whichCard">Welche Karte(Index 1 -> 5): </label>
        <input class="gameInput" type="text" id="whichCard">
        <br>
        <label for="whereCard">Wohin(Index 1 -> 5): </label>
        <input class="gameInput" type="text" id="whereCard">
    </div>
</div>
}
<script src="@routes.Assets.versioned(" javascripts/main.js")" type="text/javascript"></script>