@(controller: de.htwg.se.Skip_Bo.controller.controllerComponent.ControllerInterface)

<!-- Short description of current game state -->
@statusText= @{ controller.statusText }

<!-- Playername of the current Player -->
@playerName = @{ controller.playerState.name }

<!-- current Player -->
@playerState = @{ controller.playerState }

<!-- Size of the current players hand -->
@handSize = @{ controller.game.player(controller.playerState.getPlayer).cards.size }

<!-- Handcards -->
@firstHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(0).toString }
@secondHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(1).toString }
@thirdHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(2).toString }
@fourthHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(3).toString }
@fifthHandCard = @{ controller.game.player(controller.playerState.getPlayer).cards(4).toString }

<!-- helpstacks -->
@firstHelpStackSize = @{ controller.game.player(controller.playerState.getPlayer).helpstack(0).size }
@secondHelpStackSize = @{ controller.game.player(controller.playerState.getPlayer).helpstack(1).size }
@thirdHelpStackSize = @{ controller.game.player(controller.playerState.getPlayer).helpstack(2).size }
@fourthHelpStackSize = @{ controller.game.player(controller.playerState.getPlayer).helpstack(3).size }

<!-- ablageStapel -->
@firstAblageStapel = @{ controller.game.stack(0).size.toString }
@secondAblageStapel = @{ controller.game.stack(1).size.toString }
@thirdAblageStapel = @{ controller.game.stack(2).size.toString }
@fourthAblageStapel = @{ controller.game.stack(3).size.toString }


@main("HTWG Skip Bo") {
    <div class="gamecontainer">
        <h2>Aktionen:</h2>
        <div class="gameButtons">
            <button id="hand_Ablagestapel" onclick="hand_Ablagestapel_click()">Karte von Hand auf Ablagestapel</button><br>
            <button id="hand_Hilfestapel" onclick="hand_Hilfestapel_click()">Karte von Hand auf Hilfsstapel</button><br>
            <button id="hilfestapel_Ablagestapel" onclick="hilfestapel_Ablagestapel_click()">Karte von Hilfestapel auf Ablagestapel</button><br>
            <button id="spielerstapel_Ablagestapel" onclick="spielerstapel_Ablagestapel_click()">Karte vom Spielerstapel auf Ablagestapel</button><br>
        </div>
        <div class="gameTextInputs">
            <label for="whichCard">Welche Karte(Index 1 -> 5): </label>
            <input type="text" id="whichCard">
            <br>
            <label for="whereCard">Wohin(Index 1 -> 5): </label>
            <input type="text" id="whereCard">
        </div>
        <center>
        <div class="board">
            <h4>Spieler @playerName ist am Zug:</h4>
            -----------------------------------------------------------------------------------------
            <div class="spielerStapel">
                @if(controller.game.player.isEmpty){
                    <p>Spielerstapel: | leer | - verbleibende Karten: 0</p>
                } else {
                    @if(!controller.game.player(controller.playerState.getPlayer).stack.isEmpty){
                        <p>Spielerstapel: | @controller.game.player(controller.playerState.getPlayer).stack.head.toString | - verbleibende Karten: @controller.game.player(controller.playerState.getPlayer).stack.size.toString </p>
                    } else {
                        <p>Spielerstapel: | leer | - verbleibende Karten: 0</p>
                    }
                }
            </div>
            <br><br>
            <div class="hand">
                @if(controller.game.player.isEmpty){
                    <p>Handkarten: | 0 | | 0 | | 0 | | 0 | | 0 |</p>
                } else {
                    @if(handSize == 5){
                        <p>Handkarten: | @firstHandCard |  | @secondHandCard |  | @thirdHandCard |  | @fourthHandCard |  | @fifthHandCard |</p>
                    } else if(handSize == 4){
                    <p>Handkarten: | @firstHandCard |  | @secondHandCard |  | @thirdHandCard |  | @fourthHandCard |</p>
                    } else if(handSize == 3){
                    <p>Handkarten: | @firstHandCard |  | @secondHandCard |  | @thirdHandCard |</p>
                    } else if(handSize == 2){
                    <p>Handkarten: | @firstHandCard |  | @secondHandCard |</p>
                    } else if(handSize == 1){
                    <p>Handkarten: | @firstHandCard |</p>
                    }
                }
            </div>
            <br><br>
            <div class="helpstacks">
                @if(controller.game.player.isEmpty){
                    <p>Hilfestapel: | leer |  | leer |  | leer |  | leer |</p>
                } else  {
                    <p>Hilfestapel:</p>
                    @if(firstHelpStackSize == 0){
                        <p>| leer |</p>
                    } else {
                        <p>| @controller.game.player(controller.playerState.getPlayer).helpstack(0).head.toString |</p>
                    }
                    @if(secondHelpStackSize == 0){
                        <p>| leer |</p>
                    } else {
                        <p>| @controller.game.player(controller.playerState.getPlayer).helpstack(1).head.toString |</p>
                    }
                    @if(thirdHelpStackSize == 0){
                        <p>| leer |</p>
                    } else {
                        <p>| @controller.game.player(controller.playerState.getPlayer).helpstack(2).head.toString |</p>
                    }
                    @if(fourthHelpStackSize == 0){
                        <p>| leer |</p>
                    } else {
                        <p>| @controller.game.player(controller.playerState.getPlayer).helpstack(3).head.toString |</p>
                    }


                }
            </div>
            <br><br>
            <div class="ablageStapel">
                <p>Ablagestapel: | @firstAblageStapel |  | @secondAblageStapel |  | @thirdAblageStapel |  | @fourthAblageStapel |</p>
            </div>
        </div>
            -----------------------------------------------------------------------------------------
        </center>
        <div class="gameState">
            <div >@statusText</div>
        </div>
    </div>
}
<script>
    function hand_Ablagestapel_click()
    {
        val whichCard = document.getElementById("whichCard").value.toInt - 1;
        val whereCard = document.getElementById("whereCard").value.toInt - 1;
        controller.pushCardHand(whereCard, whichCard, controller.playerState.getPlayer, false);
    }
    function hand_Hilfestapel_click(){
        val whichCard = document.getElementById("whichCard").value.toInt - 1;
        val whereCard = document.getElementById("whereCard").value.toInt - 1;
        controller.pushCardHand(whereCard, whichCard, controller.playerState.getPlayer, true);
    }
    function hilfestapel_Ablagestapel_click(){
        val whichCard = document.getElementById("whichCard").value.toInt - 1;
        val whereCard = document.getElementById("whereCard").value.toInt - 1;
        controller.pushCardHelp(whereCard, whichCard, controller.playerState.getPlayer);
    }
    function spielerstapel_Ablagestapel_click(){
        val whereCard = document.getElementbyId("whereCard").value.toInt - 1;
        controller.pushCardPlayer(whereCard, controller.palyerState.getPlayer);
    }
</script>